* {
  margin: 0;
  /* background-color: whitesmoke; */
}

.navbar{
  background-color: #333; /* Set the background color */
  color: white; /* Set the text color to white */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navLeft h1 {
  margin: 0;
  background-color: #333;
}

.navRight{
  background-color: #333;
}
.navRight a {
  color: white; /* Set the link text color to white */
  text-decoration: none; /* Remove underline from links */
  margin-right: 1rem;
  background-color: #333;
}

.inputSearchBar{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.inputSearchBar button{
  background-color:#333 ;
  color: white;
}

.detailView{
  background-color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  margin-top: 22px

}
button{
  cursor: pointer;
}
body{
  background-color: whitesmoke;
}
/* Loader.css */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width:0px) and (max-width:350px) {
  .navbar{
    font-size: 7px
  }
  .inputSearchBar button{
    width: -webkit-fill-available;
  }
  audio{
    width:-webkit-fill-available ;
  }
}